<!DOCTYPE html>
<html>

<head>
  <title>AccessMap User Account</title>
  <!-- Needed for mobile sites to work -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Style sheets -->
  <link rel="stylesheet" type="text/css" href="../stylesheets/pure-min.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/base.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/index-modules.css">
</head>
<body>

  <h1>User Account</h1>

  <p>
    <!-- Account Info -->
    Username: <%= user.username %><br/>
    Name: <%= user.name %><br/>
    Email: <%= user.email %><br/>
    <br/>
    <a href="/">Home</a><br/>
    <a href="/logout">Logout</a><br/>

</body>
</html>
