<!DOCTYPE html>
<html>
<head>
  <title>AccessMap OAuth2Orize</title>
  <!-- Needed for mobile sites to work -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Style sheets -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/pure-min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index-modules.css">
</head>

<body>

<!-- Main code screen with no URL fragments -->
<div id="main">
  <h1>AccessMap OAuth2orize</h1>

  <p>
    <!-- Welcome message -->
    <% if (!user) { %>
    Welcome to AccessMap OAuth 2.0.<br/>
    Please <a href="/login">log in</a> or <a href="/register">register</a>.
    <% } else { %>
    Hello, <%= user.name %>. View your <a href="/account">profile</a>.
    <% } %>
    <br/>

  <h2><a href="/oauth/illust">Oauth2 Playground</a><br/></h2>
  Oauth2 Playground

  <div id="buttonsStack">
    <p>

      <a href="/account">
        <button class="pure-button pure-button-primary">User Profile</button>
      </a>

    </p>
  </div>
  <br/>
</div>

</body>
</html>


